/* Style sheet for mayadebellis.github.io */

body {
        
        font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
        font-size: 14pt;
        color: white;
        background-color: #AFB3B6;
}

.image {
        position: relative;;
        padding-top: 10px;
}

.image h1 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
}

img {
        width: 100%;
        height: auto;
}

h1 {
        font-size: 40pt;
        color: #CB5E15;
}
h4 {
        font-size: 20pt;
        color: #CB5E15;
}

a {
        color: white;
        text-decoration: none;
        display: block;
        margin: 10px 0;
}

a:hover {
        color: #CB5E15;
}


.position {
        font-weight: bold;
        font-size: 20pt;

}

ul {
        list-style-type: none;
        border: 1px solid #e7e7e7;
        margin: 0;
        padding: 0;
        overflow: hidden;
}

li a {
        float:left;
        display: block;
        text-align: center;
        vertical-align: bottom;
        padding: 14px 16px;
        text-decoration: none;
}
