/* Style sheet for mayadebellis.github.io */

body {
        
        font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
        font-size: 16pt;
        color: white;
        background-color: #AFB3B6;
}

h1 {
        font-size: 40pt;
        color: #CB5E15;
}

a {
        color: white;
        text-decoration: none;
}

a:hover {
        color: #CB5E15;
}

h1.a {
        color: #CB5E15;    
}

h1.a:hover{
        color: white;
}

a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: red;
}